<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DepApp.Properties.Settings.DepartmentDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;E:\VCUOJ\1st sem\TICT3122\Final Answer\DepApp\DepApp\DepartmentDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DepApp.Properties.Settings.DepartmentDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;E:\VCUOJ\1st sem\TICT3122\Final Answer\DepApp\DepApp\DepartmentDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DepApp.Properties.Settings.DepartmentDBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;E:\VCUOJ\1st sem\TICT3122\Final Answer\DepApp\DepApp\DepartmentDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
